/.idea
/vendor
/vendor_*
/composer
/composer.phar
/composer.lock
/composer_*.json
/composer_*.lock
/Tests/dsl/good/references/test_refs_generated.yml
/Tests/docker/.env
/Tests/docker/data/.composer/*
/Tests/docker/data/mysql/*
/Tests/docker/data/postgresql/*
/Tests/docker/logs/mysql/*
/Tests/docker/logs/postgresql/*
!/Tests/docker/data/.composer/.gitkeep
!/Tests/docker/data/mysql/.gitkeep
!/Tests/docker/data/postgresql/.gitkeep
!/Tests/docker/logs/mysql/.gitkeep
!/Tests/docker/logs/postgresql/.gitkeep
